body {
    margin: auto;
    width: 60em;
    font-family: "Lucida Sans", sans-serif;
    line-height: 150%;
    background-color: #f0f0f0;
    text-align: justify;
}
code {
    font-family: Consolas, Monaco, "Lucida Console", monospace;
}
h1 {
    font-size: 2em;
    margin-top: 1.17em;
    margin-bottom: 1em;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    margin-top: 1.45em;
    margin-bottom: 0.63em;
}
h2 + h3 {
    font-size: 1.17em;
    margin-top: 0em;
    margin-bottom: 0.75em;
}
h3 {
    font-size: 1.17em;
    margin-top: 1.75em;
    margin-bottom: 0.75em;
}
h3 + h4 {
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 1em;
}
h4 {
    font-size: 1em;
    margin-top: 2.33em;
    margin-bottom: 1em;
}
h5 {
    font-size: 1.17em;
    margin-top: 1.75em;
    margin-bottom: 0.75em;
}
h6 {
    font-size: 1em;
    margin-top: 2.33em;
    margin-bottom: 1em;
}
h6.miniheader {
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 0;
}
body > p {
    text-align: justify;
}
body > pre {
    border: solid thin;
    background-color: #e8f4ff;
    padding: 2%;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
pre {
    margin-left: 3em;
    margin-right: 3em;
}
.blockquote > p {
    font-style: italic;
}
.paraheader {
    font-weight: bold;
    margin-right: 1em;
}
img {
    vertical-align: text-top;
}
ul,ol {
    padding: 0 0 0 5%;
    margin-left: 0;
    margin-right: 0;
    width: 95%;
    text-align: justify;
}
li > p {
    margin: 0.5em 0;
}
table, figure {
    margin-left: auto;
    margin-right: auto;
    line-height: 133%;
}
table.info_table {
    margin-left: auto;
    margin-right: auto;
    line-height: 133%;
    border-spacing: 0.5em;
    border-collapse: separate;
}
figcaption {
    text-align: center;
    font-weight: bold;
    padding: 0.35em;
    margin-bottom: 0.35em;
}
.examples,.cmdlineargs,.cmdlineflags,.changelog {
    width: 100%;
}
td > figure {
    background-color: #d0e9ff;
}
td > ul,ol {
    padding: 0 0 0 10%;
    margin-left: 0;
    margin-right: 0;
    width: 90%;
    text-align: justify;
}
td.examplesource > pre {
    margin: 0;
}
td > p:first-child {
    margin-top: 0em;
}
td > p:last-child {
    margin-bottom: 0em;
}
td > p:only-child {
    margin-top: 0em;
    margin-bottom: 0em;
}
td.exampleoutput > :first-child {
    margin-top: 0em;
}
td.exampleoutput > :last-child {
    margin-bottom: 0em;
}
td.exampleoutput > :only-child {
    margin-top: 0em;
    margin-bottom: 0em;
}
td.exampleoutput .blockquote,pre {
    width: 85%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.pic_table td {
    padding: 0.35em;
    line-height: 87%;
    background-color: initial;
}
.info_table td {
    padding: 0.35em;
    line-height: 75%;
    background-color: #e0e8ff;
}
td {
    padding: 0.35em;
    background-color: #e8f4ff;
}
th {
    padding: 0.35em;
    background-color: #b9deff;
}
pre.signature {
    border: initial;
    background-color: initial;
    padding: initial;
    margin: initial;
    width: initial;
    font-family: inherit;
}
p.signature {
    line-height: 80%;
}
